@tailwind base;
@tailwind components;
@tailwind utilities;




.menu{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #4A6942;
    width: 100%;
    height: 80px;
    background-color: #FEFEFE;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: #91C483 solid 3px;
    

    

}
.imgLogo {
    width: 180px;
    height: 40px;
}

.btnHeader {
    width: 450px;
    height: 50px;
    justify-content: space-between;

    
}

.btnHeaderItem {
    margin: 15px;
}

.btnHeaderItem:hover{
    color: #91C483;
}

.btnUser {
    width: 50px;
    height: 50px;
    color: #FEFEFE;
    background-color: #C43E3E;
    border-radius: 100%;
    margin-right: 30px;
    display: flex;
    justify-items: center;
    flex-direction:column;
    justify-content: center;
}

/* INICIO - TELA LOGIN */
.btnClose{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.loginUser{
    display: flex;
    height: 100vh;
}

.divImag{
    width: 717px;
    height: 665px;
    background-color: #FEFEFE;
    align-items: center;
    display: flex;
    justify-content: center;
}

.divQhorasElas{
    display: block;
    justify-content: center;

}


/* -----------------IMAGEM FORM LOGIN----------------- */

.imgQhorasElas {
    width: 750px;
    display: flex;
    justify-content: center;
    margin-left: 21px;
    margin-top: 100px;
}

.imgVoltam {
    margin: 10px;
    display: block;
    border-radius: 15px;

}

/* ----------------- FORM LOGIN----------------- */
.formLogin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FEFEFE;
    width: 60%;
    height: 100vh;
}

.tituloLogin {
    width: 210px;
    margin: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.textoTiluloLogin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    color: #4A6942;
    text-align: center;
}

.linhaTituloLogin {
    width: 50px;
    height: 5px;
    background-color: #C43E3E;
    border: #C43E3E solid 3px;
    border-radius: 16px;
    margin-left: 30px;
}



/* -----------------INPUT FORM LOGIN----------------- */
.inputLogin {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.groupInputLogin {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; */
    margin-top: -57px;
}

#inputLogin {
    width: 350px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    outline: none;
}

/* .inputBtnEyes {
    display: flex;
} */

.btnEntrarLogin {
    width: 350px;
    height: 40px;
    background-color: #4A6942;
    color: #FEFEFE;
    text-align: center;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.redefSenha{
    font-size: 14px;
    color: #4A6942;
}

.btnCadastrarLogin {
    width: 350px;
    height: 40px;
    color: #4A6942;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}


/* FIM - TELA LOGIN */


/* INICIO - TELA CADASTRO USUÁRIO */


.divImagCadastro {

    background-color: #4A6942;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    width: 50%;
}

/* -----------------IMAGEM FORM CADASTRO USUÁRIO----------------- */
.img {
    width: 430px;
    height: 430px;
}

/* ----------------- FORM CADASTRO USUÁRIO----------------- */
.formCadastro {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FEFEFE;
    width: 50%;
    height: 100vh;
}

.tituloCadastro {
    width: 510px;
    margin: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.textoTiluloCadastro {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    color: #4A6942;
    text-align: center;
}

.linhaTituloCadastro {
    width: 50px;
    height: 5px;
    background-color: #C43E3E;
    border: #C43E3E solid 3px;
    border-radius: 16px;
    margin-left: 50px;
}



/* -----------------INPUT FORM CADASTRO USUÁRIO----------------- */
.inputCadastro {
    margin: 20px;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    outline: none;

}

.groupInputCadastro {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; */
    margin-top: 60px;
}

#inputCadastro {
    width: 410px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    outline: none;
}

.cpfAniver{
    display: flex;
    justify-content: center;
}

#inputCadastroCPF {
    width: 250px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    outline: none;
}

.aniversario{
    outline: none;
    border-bottom: none;
}

#inputCadastroAniver {
    width: 150px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.labelCadastroUsuario {
    color: #4A6942;
    display: flex;
    flex-direction: column;

}

.btnEntrarCadastro {
    width: 350px;
    height: 40px;
    background-color: #4A6942;
    color: #FEFEFE;
    text-align: center;
    border-radius: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.redefSenha {
    font-size: 14px;
    color: #4A6942;
}

.btnCadastrarCadastro {
    width: 350px;
    height: 40px;
    color: #4A6942;
    border: #91C483 solid 3px;
    border-radius: 8px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}


.inputSenha{
    display: flex;
    justify-content: space-between;
}
/* FIM - TELA CADASTRO USUÁRIO */































/* INICIO CADASTRO PRODUTOS */
.tituloCp{
    width: 210px;
    margin: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;


}

.textoTiluloCp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color:#4A6942;
    text-align: center;
}

.linhaTituloCp{
    width: 50px;
    height: 5px;
    background-color: #C43E3E;
    border: #C43E3E solid 3px;
    border-radius: 16px;
}

.groupInputCp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: row; 
}

.labelCp{
    color: #4A6942;
    display: flex;
    flex-direction:column;
    margin: 20px;

}

#inputCp{
    width: 350px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    outline: none;
}

#inputCpSKU {
    width: 150px;
    height: 40px;
    border: #91C483 solid 3px;
    border-radius: 8px;
    outline: none;
}
/* FIM CADASTRO DE PRODUTOS */

